.AllProductsContainer{
    width: 99.5%;
    margin: 100px auto;
}

.title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #fff 15%, #b500fd, #fff 85%);
    text-align: center;
    color: #fff;
    font-family: Righteous;
    font-size: 2rem;
}

.productsBox{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 844px){
    .title{
        height: 40px;
        line-height: 40px;
        font-size: 1.5rem;
    }
}

@media (max-width: 530px){
    .title{
        height: 35px;
        line-height: 35px;
        font-size: 1.1rem;
    }
}